<!--
 * @Description: 
 * @Version: 2.0
 * @Autor: ZhengYun
 * @Date: 2020-09-17 17:13:56
 * @LastEditTime: 2020-09-18 16:48:07
-->
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/apple-touch-icon.jpg" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
